<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ladybug</title>
  <link rel="stylesheet" href="styles.css">

<!-- <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<link type="text/css" rel="stylesheet" href="bubbles.css">
 
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script src="input-bubbles.min.js"></script>


 <meta property="og:url"           content="http://ladybug.fusionbombsderp.com" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Ladybug DBT app" />
  <meta property="og:description"   content="DBT skills app" />
  <meta property="og:image"         content="http://ladybug.fusionbombsderp.com/public/cover_small.jpg" />

</head>


<body>



  <h1>Ladybug</h1>

  <div class="temp_disclaimer">Actual front-end coming SOON(tm).</div>
<div class="temp_disclaimer">Actual domain name coming SOON(tm). ladybug.fusionbombsderp.com is a temporary home. </div>
<div class="temp_disclaimer">This is a proof-of-concept to see if anyone is interested before investing more time. </div>





<div class="line"></div>





<p id="p1">Hello World!</p>
<p id="p2">Hello World!</p>

<%if (auth) { %>



<div id="bubbleWrapper"></div>

<div id="clickBubblesBox" class="clickBubblesBox"></div>
<br>

<div style="clear: both;"></div>

<div class="logout"><a href="/logout">logout</a>  </div>
<div class="skillLink"><a href="/skills">Insert Skills</a>  </div>
<!-- <div class="skillLink"><a href="/skills">Insert Skills</a>  </div> -->


<div class="line"></div>

<p id="skills" >skills</p>

<% } else { %>

<P>Please sign in:</P>

  <div ><a href="/auth/google">google</a>  </div>
 <!--  <P> Sorry, only github auth works rn</P>
  <div ><a href="/auth/github">github</a> </div> -->

<% } %>

<form id="frm1" action="/tags"  style="visibility: hidden">
  First name: <input type="text" name="email" value="<%= auth %>"><br>
  Last name: <input id="array" input type="text" name="array" value=""><br><br>
</form>


 
<script>
    var bubbles = inputBubbles({
         element: document.getElementById('bubbleWrapper'),   
         width: 500,
         height: 30,
         separator: [',', ':'],
         click: function() {
            document.getElementById("p1").innerHTML = $('#bubbleWrapper').inputBubbles('values');
         }
     });
     
     // Setting after initialization 
    bubbles.set('allowSpaces', true);
    bubbles.set('placeholder', true);

    // bubbles.trigger('click', bubbles.values);
    // document.getElementById("p1").innerHTML = bubbles.values;
    bubbles.on('keyup', function(event) {
        // console.log(event.key);
        if(event.key == "Enter"){
          sendLocal();
        }else if(event.key == ","){
          sendLocal();
        }else if(event.key == " "){
          sendLocal();
        }
        // console.log(event.currentTarget);

     });


      bubbles.on('remove', function(event) {
          // console.log(event);
          console.log(Array.from(event.childNodes)[0].innerHTML);
          removed = Array.from(event.childNodes)[0].innerHTML;
          removeFromBar(removed);

          

       });
    // $('#bubbleWrapper').inputBubbles('addBubble', 'I am a bubble!');
    function removeFromBar(removed){

      $.ajax({   
       type: 'GET',   
       url: '/remove-<%= auth %>-'+removed,   
       data: $('#frm1').serialize(),

       success: function(data)
        {
          document.getElementById("p1").innerHTML = $('#bubbleWrapper').inputBubbles('values');
          // console.log("removeFromBar");
          // console.log(document.getElementById("p1").innerHTML);
          // console.log(removed);

          var array = document.getElementById("p1").innerHTML.split(",");
          var index = array.indexOf(removed);
          if (index > -1) {
              array.splice(index, 1);
          }
          document.getElementById("p1").innerHTML = array.toString();

          refreshSkills(document.getElementById("p1").innerHTML.split(","));
          refreshToggle();

          // console.log("remove");
          // console.log(data);
        },
       timeout: 3000 // sets timeout to 3 seconds 
    }); 
    }

    function sendLocal(newTag){
       // getTaglist();
      var array = document.getElementById("array");

      if(newTag){
        document.getElementById("p1").innerHTML += ","+newTag;
      }else{
        var tags = $('#bubbleWrapper').inputBubbles('values');
        
        document.getElementById("p1").innerHTML = tags;
        var bubbleArray = document.getElementById("p1").innerHTML.split(",");
        // console.log("bubbleArray:"+bubbleArray[bubbleArray.length-1]);
        var newTag = bubbleArray[bubbleArray.length-1];
      }
      

      array.value = newTag; // works on db end
      // console.log(array);
      // console.log(array.value);
      refreshSkills(document.getElementById("p1").innerHTML.split(","));

      sendToDB();
    }
    function sendToDB() {
        // document.getElementById("frm1").submit();
        $.ajax({   
           type: 'POST',   
           url: '/tags',   
           data: $('#frm1').serialize(),
           success: function(data)
            {
              //callback methods go right here
              parse_tags_data(data.value.array);

              // console.log(document.getElementById("p1").innerHTML.split(","));
              

            },
           timeout: 3000 // sets timeout to 3 seconds 
        }); 
    }

    function parse_tags_data(data) {
        // document.getElementById("frm1").submit();
          var bubbleArray = document.getElementById("p1").innerHTML.split(",");
          // console.log(data[0]);
          // console.log(data[0].array);
          // var db_array = data.array;
          var len2 = bubbleArray.length;

          // console.log(bubbleArray);
          // console.log(data);

          for(i=0;i<data.length;i++){
            for(j=0;j<len2;j++){
              if(data[i]==bubbleArray[j]){
                bubbleArray.splice(j, 1);
                len2=bubbleArray.length;
                console.log("found dupe");
              }
            }
          }
          
          // console.log(bubbleArray);
          // console.log(data);


          if(bubbleArray.length>1){
            return bubbleArray;
          }else if(data.length>1){
            return data;
          }else{
            false
          }
    }
  

  function makeUL(array) {

    // console.log(array);
    // Create the list element:
    var list = document.createElement('ul');

        var item = document.createElement('li');
        item.appendChild(document.createTextNode(array.name));
        list.appendChild(item);

        var item = document.createElement('li');
        item.appendChild(document.createTextNode(array.tags));
        list.appendChild(item);

        var item = document.createElement('li');
        item.appendChild(document.createTextNode(array.text));
        list.appendChild(item);
 


    // Finally, return the constructed list:
    return list;
  }

  function refreshSkills(webBubbleArray){
    console.log("webBubbleArray");
    console.log(webBubbleArray);
    $.ajax({   
      type: 'GET',   
      url: '/skills-'+webBubbleArray,   
      success: function(data)
      {
        console.log("refreshSkills");
        console.log(data);
        myNode = document.getElementById('skills');
        while (myNode.firstChild) {
            myNode.removeChild(myNode.firstChild);
        }
        for(i=0;i<data.length;i++){
          myNode.appendChild(makeUL(data[i]));
        }
      },
      timeout: 3000 // sets timeout to 3 seconds 
    }); 
  }

  function getTaglist(tags){
    if(tags){

    }else{
      tags=["default"];
    }
    $.ajax({   
      type: 'GET',   
      url: '/taglist-'+tags,   
      success: function(data)
      {
        console.log( "data");
        console.log( data);
        document.getElementById("p2").innerHTML = data;
        makeDivs(data);
        refreshToggle();

      },
      timeout: 3000 // sets timeout to 3 seconds 
    }); 
  }
// Add the contents of options[0] to #foo:
  function makeDivs(list){
    mainDiv = document.getElementById("clickBubblesBox");
    // console.log(list);
    // var mainDiv = document.getElementById("foo");
    while (mainDiv.firstChild) {
        mainDiv.removeChild(mainDiv.firstChild);
    }

    for(i=0;i<list.length;i++){
      console.log(i);
      var id = "clickBubbles"+i;
      var item = document.createElement('div');
      item.appendChild(document.createTextNode(list[i]));
      item.classList.add('clickBubblesUnSelected');
      item.id = id;

      // item.onclick = toggleBubbles(item);
      // item.addEventListener('click', toggleBubbles, false);
      // item.addEventListener("click", function(){
      //     toggleBubbles(item.id);
      // }, false);

      item.addEventListener('click', toggleBubbles, false);
      function myFunc(evt)
      {
        window.alert( evt.target.myParam );
      }
      console.log(item);

      mainDiv.appendChild(item);
    }
    

  }

  function toggleBubbles(evt){
    var outItem = document.getElementById(evt.target.id);
    console.log(outItem);
    toggleDirect(outItem);
  }
  function toggleDirect(outItem){
    var theClass = outItem.className;
    if(theClass == "clickBubblesUnSelected"){
      outItem.className = "clickBubblesSelected";
      sendLocal(outItem.innerHTML);
    }else{
      outItem.className = "clickBubblesUnSelected";
      removeFromBar(outItem.innerHTML);
    }
  }
  function refreshToggle(){
    var list = document.getElementById("p1").innerHTML.split(",");
    mainDiv = document.getElementById("clickBubblesBox");

    var children = mainDiv.children;
    for (var i = 0; i < children.length; i++) {
      var tableChild = children[i];
      for(j=0;j<list.length;j++){
        if(tableChild.innerHTML==list[j]){
          tableChild.className = "clickBubblesSelected";
          console.log("tableChild");
          console.log(tableChild);
        }
      }
    }

  }


    document.addEventListener('DOMContentLoaded', function() {
      console.log("loaded on load");
      $.ajax({   
       type: 'GET',   
       url: '/tags-<%= auth %>',   
       data: $('#frm1').serialize(),
       success: function(data)
        {
          var bubbleArray = parse_tags_data(data[0].array);
          // console.log(bubbleArray);
          if(bubbleArray.length>1){
            for(i=0;i<bubbleArray.length;i++){
              $('#bubbleWrapper').inputBubbles('addBubble', bubbleArray[i]);
            }

            document.getElementById("p1").innerHTML = $('#bubbleWrapper').inputBubbles('values');
            refreshSkills(document.getElementById("p1").innerHTML.split(","));
            getTaglist(bubbleArray);

            // refreshSkills();
            
          }// end bubble length
        },
       timeout: 3000 // sets timeout to 3 seconds
        
    }); 

    // var bubbles = document.getElementById("p1").innerHTML;
    // // var bubblesArray = bubbles.split(",");
    // console.log(bubbles);
    // console.log(Object.getOwnPropertyNames(bubbles));
// 
    // console.log(JSON.stringify($('#bubbleWrapper').inputBubbles('values')))
    
        // $('#bubbleWrapper').inputBubbles('addBubble', 'I am a bubble!');
    }, false);






</script> 

<div class="temp_disclaimer">2017 (c) All Rights Reserved. </div>

</body>
</html>