<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Skills</title>
  <link rel="stylesheet" href="styles.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- 
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>


 -->


<!-- <script>
function sendToDB() {
        // document.getElementById("frm1").submit();
        $.ajax({   
           type: 'POST',   
           url: '/taglist',   
           data: $('#taglist').serialize(),
           success: function(data)
            {
              //callback methods go right here
              // parse_tags_data(data.value.array);

              console.log(data);
              

            },
           timeout: 3000 // sets timeout to 3 seconds 
        }); 
    }
</script> -->
</head>


<body>
<h1> Details page</h1>



 



<%if (auth) { %>

<div class="logout"><a href="/logout">logout</a>  </div>
<div class="backLink"><a href="/">Back to Home</a>  </div>











  <div class="add_container">
    <h2>Create a Skill</h2>
      <div class="add_left_col">
         <br> 
        Name  <br>
        Tags  <br>
        Text

      </div>


      <div class="add_right_col">

        <form  name="skills" action="/skills" method="POST" >
          <button type="submit">Submit</button><br>

            <input type="text" name="name"><br>
            <input type="text" name="tags"><br>
            <textarea name="text" cols="40" rows="5"></textarea>
        </form>

      </div>

    
  </div>




  <div class="add_container">
    <h2>Create a Tag</h2>
      <div class="add_left_col">
         <br> 
        
        Text

      </div>


      <div class="add_right_col">

      <form  name="taglist" action="/taglist" method="POST" >
          <button type="submit">Submit</button><br>

            <input type="text" name="tag"><br>
        </form>

      </div>

    
  </div>








<% } else { %>

  <div ><a href="/auth/google">google</a>  </div>

<% } %>






<!-- 

<script>
$('body').find('br').replaceWith("\n");
$('body').find('p').each(function() {

    $(this).replaceWith("<p>" + $(this).text().replace(/\n/g, '<p>') + "</p>");
});
</script>

  <script src="main.js"></script>

 -->
<!-- 

  <div>
    <h2>update</h2>
    <button id="update"> Update </button>
  </div>

  <script src="main.js"></script> -->

</body>
</html>